---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=d07b92c47feac09efe17ba2be0174722&exclude=minutely,alerts&lat=34.850746&lon=-82.398964&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":34.8507,"lon":-82.399,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1651028799,"sunrise":1650969857,"sunset":1651018210,"temp":58.96,"feels_like":57.2,"pressure":988,"humidity":56,"dew_point":43.32,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":14.97,"wind_deg":10,"wind_gust":23.02,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1651028400,"temp":58.96,"feels_like":57.2,"pressure":988,"humidity":56,"dew_point":43.32,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":11.65,"wind_deg":1,"wind_gust":25.59,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1651032000,"temp":58.1,"feels_like":56.19,"pressure":995,"humidity":55,"dew_point":42.04,"uvi":0,"clouds":4,"visibility":10000,"wind_speed":10.96,"wind_deg":4,"wind_gust":23.44,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1651035600,"temp":56.62,"feels_like":54.57,"pressure":1001,"humidity":55,"dew_point":40.66,"uvi":0,"clouds":7,"visibility":10000,"wind_speed":9.98,"wind_deg":7,"wind_gust":21.16,"weather":[{"id":800,"main":"Clear",[...]
