---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=d07b92c47feac09efe17ba2be0174722&exclude=minutely,alerts&lat=34.850746&lon=-82.398964&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":34.8507,"lon":-82.399,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1651084301,"sunrise":1651056191,"sunset":1651104659,"temp":72.97,"feels_like":71.19,"pressure":1020,"humidity":26,"dew_point":36.1,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":10.36,"wind_deg":350,"wind_gust":20.71,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1651082400,"temp":72.63,"feels_like":70.77,"pressure":1020,"humidity":25,"dew_point":34.83,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":10.74,"wind_deg":13,"wind_gust":14.27,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1651086000,"temp":72.97,"feels_like":71.19,"pressure":1020,"humidity":26,"dew_point":36.1,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":10.6,"wind_deg":13,"wind_gust":13.71,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1651089600,"temp":72.77,"feels_like":71.02,"pressure":1020,"humidity":27,"dew_point":36.9,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":10.8,"wind_deg":11,"wind_gust":13.22,"weather":[{"id":800,"main":"Clear"[...]
