---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=PkwmN9v6675Ohlmwolh6OO4dpYgMXovi&location=greenville,sc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 27 Apr 2022 03:06:43 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"greenville,sc"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Greenville","adminArea5Type":"City","adminArea4":"Greenville
        County","adminArea4Type":"County","adminArea3":"SC","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282036974","unknownInput":"","type":"s","latLng":{"lat":34.850746,"lng":-82.398964},"displayLatLng":{"lat":34.850746,"lng":-82.398964},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=PkwmN9v6675Ohlmwolh6OO4dpYgMXovi&type=map&size=225,160&locations=34.850746,-82.398964|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-287357155"}]}]}'
  recorded_at: Wed, 27 Apr 2022 03:06:43 GMT
recorded_with: VCR 6.1.0
